/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f4f4f4; /* Light gray background for the whole page */
}

/* Header */
header {
    background: #007bff; /* Blue background */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Section Background Colors */
#about {
    background: #e9ecef; /* Light gray background for 'About' section */
    padding: 4rem 2rem;
}

#resume {
    background: #ffffff; /* White background for 'Resume' section */
    padding: 4rem 2rem;
}

#portfolio {
    background: #f8f9fa; /* Very light gray for 'Portfolio' section */
    padding: 4rem 2rem;
}

#contact {
    background: #e9ecef; /* Light gray background for 'Contact' section */
    padding: 4rem 2rem;
}

/* Footer */
footer {
    background: #007bff; /* Blue background */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-top: 2rem;
}
